.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: end;
  width: 30px;
  height: 18px;
}
.burger span {
  height: 2px;
  width: 100%;
  transform: scale(1);
  background-color: #ffae2b;
}
.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #ffae2b;
  transition: all 0.3s ease 0s;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}
.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}
.open {
  display: flex !important;
}
